@page "{id:int}"
@model CRUD_Y_API.Pages.Usuarios.EditModel
@{
    ViewData["Title"] = "Edit";
}

<form role="form" method="post">
    <partial name="_FormUsuario" model="Model.Usuario" />
    <button type="submit" class="btn btn-primary float-right">Guardar</button>
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}